<div class="row mt-5">
  <div class="col-4 offset-4">
    <div class="card">
      <div class="card-body">
       
        <% if(typeof(message) !== 'undefined') { %>
          <div class="alert alert-success" role="alert">
            <%= message %>
          </div>
        <% } %>

        <% if(typeof(errors) !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% for(var i=0; i<errors.length; i++) {%>
               <li><%= errors[i].message %></li>
            <% } %>
            </ul>
        </div>
        <% } %>


        <form action="/auth/save" method="post">
          <div class="mb-3">
            <label for="firstname" class="form-label">Prénom</label>
            <input type="text" value="<%= (typeof(user) !== 'undefined') ? user.firstname : '' %>" class="form-control"
              id="firstname" name="firstname">
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Nom</label>
            <input type="text" value="<%= (typeof(user) !== 'undefined') ? user.lastname : '' %>" class="form-control"
              id="lastname" name="lastname">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" value="<%= (typeof(user) !== 'undefined') ? user.username : '' %>" class="form-control"
              id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" value="<%= (typeof(user) !== 'undefined') ? user.password : '' %>" class="form-control"
              id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>